<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Package</title>
        <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css" />
    </head>
    <body>
        <form class="container" action="/pack" method="post">
            <label for="name">Name</label>
            <input
                type="text"
                name="name"
                id="name"/>
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea
            >
            <label for="release">Release</label
            ><input
                type="date"
                name="release"
                id="release"/>

            <button type="submit">Add package</button>
        </form>
    </body>
</html>
